{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}
        
        {% endblock title %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="pre-nav">
            <h4>Hello {{user.title}}, welcome to blog!</h4>
            <a href="{% url 'logout' %}">Log out</a>
        </div>
    {% else %}
        <div class="pre-nav">
            <h4>Hello {{user.title}}, you are not logged in,please log in</h4>
            <a href="{% url 'login' %}">Log In</a>
        </div>
    {% endif %}
    
    <div class="nav">
        <div class="nav-right"><a href="{% url 'home' %}"><h2>Django Blog</h2></a></div>
        <div class="nav-left"><a href="{% url 'new_post' %}"><h2>+ Add New Post</h2></a></div>
    </div>

    {% block content %}
        
    {% endblock content %}
</body>
</html>